home{
    display: flex;
    width: 100px;
}
.home1{
    display: flex;
    list-style-type: none;
    margin-top: -10;
}
 .home1 > li {
    padding:  15px;
}
.home1 > li > a {
    color: black;
    text-decoration: none;
    font-size: 19px;
}


rall{
    display: flex;
    width: 100px;
}
.rall1{
    display: flex;
    list-style-type: none;
    margin-top: -10;
}
 .rall1 > li {
    padding:  15px;
}
.rall1 > li > a {
    color: black;
    text-decoration: none;
    font-size: 19px;
}

mass{
    display: flex;
    width: 100px;
}
.mass1{
    display: flex;
    list-style-type: none;
    margin-top: -10;
}
 .mass1 > li {
    padding:  15px;
}
.mass1 > li > a {
    color: black;
    text-decoration: none;
    font-size: 19px;
}
dell{
    display: flex;
    width: 100px;
}
.dell1{
    display: flex;
    list-style-type: none;
    margin-top: -10;
}
 .dell1 > li {
    padding:  15px;
}
.dell1 > li > a {
    color: black;
    text-decoration: none;
    font-size: 19px;
}
boys{
    display: flex;
    width: 100px;
}
.boys1{
    display: flex;
    list-style-type: none;
    margin-top: -10;
}
 .boys1 > li {
    padding:  15px;
}
.boys1 > li > a {
    color: black;
    text-decoration: none;
    font-size: 19px;
}